---
import Star from "./Star.astro";
---

<div class="max-w-2xl mx-auto">


	<div class="bg-white shadow-md rounded-lg max-w-sm dark:bg-gray-700 dark:border-gray-700">
		<a href="#">
			<img class="rounded-t-lg p-8" src="https://i.ibb.co/KqdgGY4/cosmetic-packaging-mockup-1150-40280.webp" alt="product image">
        </a>
			<div class="px-5 pb-5">
				<a href="#">
					<h3 class="text-gray-900 font-semibold text-xl tracking-tight dark:text-white">Apple Watch Series 7
						GPS, Aluminium Case, Starlight Sport</h3>
				</a>
				<div class="flex items-center mt-2.5 mb-5">
          
          <div class="flex ">
            <Star />
            <Star />
            <Star />
          </div>
          
					<span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
				</div>
				
			</div>
	</div>
</div>