---
import MainLayout from "@/layouts/MainLayout.astro";

import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);

console.log("session::", session)
---

<MainLayout title="Vengardus-Auth">
  <h1 class="text-3xl text-blue-500">Hi Vengardus</h1>
  <div>eeeeee</div>
</MainLayout>

<script data-astro-rerun>
  

  console.log("script-home")
</script>
